.hidden {

  opacity: 0 !important;

  margin-top: -25px;

  transition: all 0.3s; }



.dnone {

  display: none; }



body, html {

  padding: 0;

  margin: 0;

  height: 100vh;

  width: 100vw;

  overflow: hidden;

  background: gray;

  color: white;

  font-family: 'MongolianBaiti';

  font-size: 32px; }

  body #mainBody #canvasBox, html #mainBody #canvasBox {

    position: absolute;

    z-index: 1;

    width: 100vw;

    height: 100vh; }

  body #mainBody .shadow, html #mainBody .shadow {

    background-image: url(../img/shadow.png), url(../img/shadow1.png);

    background-position: left top, right top;

    background-repeat: repeat-y, repeat-y;

    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    z-index: 1; }

  body #mainBody #videoSlider, html #mainBody #videoSlider {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: 0; }

    body #mainBody #videoSlider .wrap, html #mainBody #videoSlider .wrap {

      position: relative;

      height: 100vh;

      width: 100vw; }

      body #mainBody #videoSlider .wrap .videobg, html #mainBody #videoSlider .wrap .videobg {

        position: absolute;

        top: 50%;

        left: 50%;

        transform: translate(-50%, -50%);

        z-index: 9999;

        min-width: 100%;

        min-height: 100%; }

  body #mainBody #menuBox, html #mainBody #menuBox {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: 100;

      /*@-webkit-keyframes scrollAnima{

          0%   {top: 15%; opacity: 0;}

          20%  {top: 15%; opacity: 1;}

          50%  {opacity: 1;}

          100% {top: 65%; opacity: 0;}

      }





      @keyframes scrollAnima{

          0%   {top: 15%; opacity: 0;}

          20%  {top: 15%; opacity: 1;}

          50%  {opacity: 1;}

          100% {top: 65%; opacity: 0;}

      }*/ }

    body #mainBody #menuBox .buttonsContainer, html #mainBody #menuBox .buttonsContainer {

      position: absolute;

      bottom: 50px;

      left: 75%; }

    body #mainBody #menuBox.navLeft .buttonsContainer, html #mainBody #menuBox.navLeft .buttonsContainer {

      left: 25%; }

    body #mainBody #menuBox.navRight .buttonsContainer, html #mainBody #menuBox.navRight .buttonsContainer {

      left: 75%; }

    body #mainBody #menuBox .dots, html #mainBody #menuBox .dots {

      position: relative;

      display: inline-block;

      vertical-align: middle;

      margin-right: 15px; }

      body #mainBody #menuBox .dots span, html #mainBody #menuBox .dots span {

        display: inline-block;

        width: 15px;

        height: 15px;

        margin-right: 15px;

        background: white;

        opacity: 0.25;

        border-radius: 50%; }

        body #mainBody #menuBox .dots span.active, html #mainBody #menuBox .dots span.active {

          opacity: 1; }

    body #mainBody #menuBox .upButton, html #mainBody #menuBox .upButton {

      width: 25px;

      height: 15px;

      background: url(../img/logos/arrow-up.svg) no-repeat;

      background-size: contain;

      /*left: 75%;

      bottom: 50px;*/

      cursor: pointer;

      display: inline-block;

      vertical-align: middle; }

    body #mainBody #menuBox .nextButton, html #mainBody #menuBox .nextButton {

      position: absolute;

      width: 100%;

      height: 100%; }

    body #mainBody #menuBox .scrollIcon, html #mainBody #menuBox .scrollIcon {

      /*border: 1px solid #fff;*/

      width: 60px;

      height: 60px;

      position: absolute;

      bottom: 0;

      z-index: 99;

      left: 50%;

      transform: translatex(-50%);

      opacity: 0;

      transition: 0.5s;

      transition-timing-function: cubic-bezier(0.16, 0.48, 0.09, 1);

      visibility: hidden; }

      body #mainBody #menuBox .scrollIcon span, html #mainBody #menuBox .scrollIcon span {

        position: absolute;

        display: block;

        top: 15%;

        left: 50%;

        transform: translatex(-50%);

        width: 1px;

        height: 1px;

        background-color: white;

        /*border-radius: 50%;*/

        background: #FFF; }

      body #mainBody #menuBox .scrollIcon.scrollAnima span, html #mainBody #menuBox .scrollIcon.scrollAnima span {

        -webkit-animation: scrollAnima 2.2s infinite;

        /* Safari 4.0 - 8.0 */

        animation: scrollAnima 2.2s infinite; }

      body #mainBody #menuBox .scrollIcon.amateAppend, html #mainBody #menuBox .scrollIcon.amateAppend {

        visibility: visible;

        transition: 1s;

        -webkit-transition-delay: 3s !important;

        -o-transition-delay: 3s !important;

        -moz-transition-delay: 3s !important;

        transition-delay: 3s !important;

        opacity: 1;

        transition-timing-function: cubic-bezier(0.16, 0.48, 0.09, 1); }

      body #mainBody #menuBox .scrollIcon.hideThis, html #mainBody #menuBox .scrollIcon.hideThis {

        opacity: 0 !important; }

@-webkit-keyframes scrollAnima {

  0% {

    height: 1px;

    opacity: 0; }

  50% {

    opacity: 1; }

  100% {

    height: 60px;

    opacity: 0; } }

@keyframes scrollAnima {

  0% {

    height: 1px;

    opacity: 0; }

  50% {

    opacity: 1; }

  100% {

    height: 60px;

    opacity: 0; } }

    body #mainBody #menuBox nav, html #mainBody #menuBox nav {

      position: absolute;

      top: 50%;

      left: 0;

      transform: translateY(-50%); }

      body #mainBody #menuBox nav:not(.active), html #mainBody #menuBox nav:not(.active) {

        filter: blur(3px); }

      body #mainBody #menuBox nav a, html #mainBody #menuBox nav a {

        display: block;

        padding: 60px 200px;

        position: relative;

        transition: all 0.3s;

        color: white;

        text-decoration: none;

        cursor: pointer;

        font-family: 'BentonSans-Bold';

        font-size: 24px;

        opacity: 0.5;

        letter-spacing: 4.2px; }

        body #mainBody #menuBox nav a::after, html #mainBody #menuBox nav a::after {

          position: absolute;

          width: 0px;

          height: 3px;

          background: white;

          display: block;

          left: 0;

          top: 50%;

          transform: translateY(-50%);

          transition: all 0.3s;

          content: " "; }

        body #mainBody #menuBox nav a.active, html #mainBody #menuBox nav a.active {

          opacity: 1; }

          body #mainBody #menuBox nav a.active::after, html #mainBody #menuBox nav a.active::after {

            width: 100px;

            transition: all 0.3s; }

      body #mainBody #menuBox nav.navRight, html #mainBody #menuBox nav.navRight {

        left: auto;

        right: 0; }

        body #mainBody #menuBox nav.navRight a, html #mainBody #menuBox nav.navRight a {

          text-align: right; }

          body #mainBody #menuBox nav.navRight a:after, html #mainBody #menuBox nav.navRight a:after {

            left: auto;

            right: 0; }

  body #mainBody #contentSlider, html #mainBody #contentSlider {

    position: absolute;

    width: 100%;

    height: 100%;

    text-align: center;

    font-family: 'BentonSans-Light';

    font-size: 34px; }

    body #mainBody #contentSlider .content, html #mainBody #contentSlider .content {

      position: absolute;

      width: 100%;

      height: 100%;

      opacity: 0;

      z-index: -1; }

      body #mainBody #contentSlider .content.active, html #mainBody #contentSlider .content.active {

        opacity: 1;

        z-index: 1; }

      body #mainBody #contentSlider .content .textCenter, html #mainBody #contentSlider .content .textCenter {

        position: absolute;

        top: 50%;

        left: 50%;

        transform: translate(-50%, -50%); }

      body #mainBody #contentSlider .content .anime, html #mainBody #contentSlider .content .anime {

        transform: translateY(50px);

        transition: all 0.3s;

        opacity: 0; }

        body #mainBody #contentSlider .content .anime.active, html #mainBody #contentSlider .content .anime.active {

          transform: translateY(0px);

          opacity: 1; }

        body #mainBody #contentSlider .content .anime.out, html #mainBody #contentSlider .content .anime.out {

          transform: translateY(-50px);

          opacity: 0; }

      body #mainBody #contentSlider .content .arrowLogo, html #mainBody #contentSlider .content .arrowLogo {

        width: 75px;

        height: 92px; }

      body #mainBody #contentSlider .content .mainLogo, html #mainBody #contentSlider .content .mainLogo {

        font-size: 118px;

        font-family: 'MongolianBaiti';

        letter-spacing: 30px;

        white-space: nowrap; }

      body #mainBody #contentSlider .content .subLogo, html #mainBody #contentSlider .content .subLogo {

        font-size: 26px;

        text-transform: uppercase;

        letter-spacing: 30px; }

      body #mainBody #contentSlider .content .subSlide, html #mainBody #contentSlider .content .subSlide {

        position: absolute;

        top: 120%;

        left: 0;

        width: 100%; }

      body #mainBody #contentSlider .content .regularTitle, html #mainBody #contentSlider .content .regularTitle {

        font-size: 105px;

        letter-spacing: 0.65px; }

      body #mainBody #contentSlider .content .floatingNumer, html #mainBody #contentSlider .content .floatingNumer {

        position: absolute;

        text-align: left;

        min-width: 767px; }

        body #mainBody #contentSlider .content .floatingNumer .number, html #mainBody #contentSlider .content .floatingNumer .number {

          font-size: 180px;

          font-family: 'MongolianBaiti';

          white-space: nowrap; }

          body #mainBody #contentSlider .content .floatingNumer .number span, html #mainBody #contentSlider .content .floatingNumer .number span {

            display: inline-block;

            font-size: 118px;

            vertical-align: top; }

        body #mainBody #contentSlider .content .floatingNumer p, html #mainBody #contentSlider .content .floatingNumer p {

          padding: 0;

          margin: 0;

          padding-left: 100px; }

        body #mainBody #contentSlider .content .floatingNumer.leftBottom, html #mainBody #contentSlider .content .floatingNumer.leftBottom {

          top: 25px;

          left: -500px; }

        body #mainBody #contentSlider .content .floatingNumer.leftCenter, html #mainBody #contentSlider .content .floatingNumer.leftCenter {

          top: 50%;

          transform: translatey(-50%);

          left: -500px; }

        body #mainBody #contentSlider .content .floatingNumer.rightTop, html #mainBody #contentSlider .content .floatingNumer.rightTop {

          bottom: 25px;

          left: 0px; }

        body #mainBody #contentSlider .content .floatingNumer.leftTop, html #mainBody #contentSlider .content .floatingNumer.leftTop {

          bottom: 25px;

          left: -275px; }

        body #mainBody #contentSlider .content .floatingNumer.rightBottom, html #mainBody #contentSlider .content .floatingNumer.rightBottom {

          top: 25px;

          left: 100px; }

        body #mainBody #contentSlider .content .floatingNumer.centerCenter, html #mainBody #contentSlider .content .floatingNumer.centerCenter {

          top: -100px;

          left: -100px; }

      body #mainBody #contentSlider .content .followCircle, html #mainBody #contentSlider .content .followCircle {

        position: absolute;

        transform: translate(-50%, -50%); }



/*# sourceMappingURL=style.css.map */

